.sign {
  letter-spacing: 2;
  color: #ffe6ff;
  text-shadow: 0 0 0.1rem #ffe6ff, 0 0 0.1rem #1000f3,
    -0.1rem 0.1rem 0.1rem #8858fa, 0.1rem 0.1rem 0.1rem #3649f3,
    0 -0.1rem 0.2rem #8269f1, 0 0.1rem 0.3rem #0e46fd;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.1rem #ffe6ff, 0 0 0.1rem #1000f3,
      -0.1rem 0.1rem 0.1rem #8858fa, 0.1rem 0.1rem 0.1rem #3649f3,
      0 -0.1rem 0.2rem #8269f1, 0 0.1rem 0.3rem #0e46fd;
  }
  28%,
  33% {
    color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  82%,
  97% {
    color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.1rem #ffe6ff, 0 0 0.1rem #1000f3,
      -0.1rem 0.1rem 0.1rem #8858fa, 0.1rem 0.1rem 0.1rem #3649f3,
      0 -0.1rem 0.2rem #8269f1, 0 0.1rem 0.3rem #0e46fd;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}


